force-app/main/default/flows/B2B_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LoadOrderIds</name>
        <label>LoadOrderIds</label>
        <locationX>636</locationX>
        <locationY>535</locationY>
        <actionName>Order_B2BOrderInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>OrderIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order_B2BOrderInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignOrderId</name>
        <label>AssignOrderId</label>
        <locationX>379</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>OrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOrderId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOrderId</targetReference>
        </connector>
    </assignments>
    <interviewLabel>B2B_Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_B2B_Schedule</label>
    <loops>
        <name>loopOrderId</name>
        <label>loopOrderId</label>
        <locationX>380</locationX>
        <locationY>368</locationY>
        <collectionReference>getOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOrderId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoadOrderIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOrders</name>
        <label>getOrders</label>
        <locationX>496</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOrderId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B Shop</stringValue>
            </value>
        </filters>
        <filters>
            <field>B2BJobRun__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOrders</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2021-03-19</startDate>
            <startTime>16:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>OrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
