force-app/main/default/flows/Import_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignGetToList</name>
        <label>assignGetToList</label>
        <locationX>470</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>lstAssetUsage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAssets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignQuantityToAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuantityToAsset</name>
        <label>AssignQuantityToAsset</label>
        <locationX>409</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>lstAssetUsage.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ManualOrderRequired</name>
        <label>ManualOrderRequired</label>
        <locationX>559</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>assignGetToList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkEmptyReturnSize</name>
            <conditionLogic>1 OR 2 OR (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>getAssets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GoverningBody__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchoolGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExternalCustomerId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateManualOrder</targetReference>
            </connector>
            <label>checkEmptyReturnSize</label>
        </rules>
    </decisions>
    <interviewLabel>Import Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Assets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteImportObject</name>
        <label>deleteImportObject</label>
        <locationX>290</locationX>
        <locationY>1217</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAssets</name>
        <label>getAssets</label>
        <locationX>540</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ManualOrderRequired</targetReference>
        </connector>
        <filterLogic>((1 AND 4) OR 5) AND (2 OR 3) AND 6 AND 7 AND 8 AND 9</filterLogic>
        <filters>
            <field>SubscriptionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Licence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BilltoExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.GoverningBody__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BilltoExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SchoolGroup__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriptionId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LegacyLicenceId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Licence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PricingMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ProductUsageBased</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShiptoExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ExternalCustomerId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>BilltoExternalId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ShiptoExternalId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>UpdateAsset</label>
        <locationX>240</locationX>
        <locationY>903</locationY>
        <connector>
            <targetReference>deleteImportObject</targetReference>
        </connector>
        <inputReference>lstAssetUsage</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAssetOnImport</name>
        <label>UpdateAssetOnImport</label>
        <locationX>460</locationX>
        <locationY>1025</locationY>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>lstAssetUsage.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateManualOrder</name>
        <label>UpdateManualOrder</label>
        <locationX>795</locationX>
        <locationY>626</locationY>
        <inputAssignments>
            <field>ManualOrderRequired__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAssets</targetReference>
        </connector>
        <object>ImportAssets__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAssetUsage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
