force-app/main/default/flows/InteractionLeadUpdatedRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignInteractionValuesExisting</name>
        <label>Assign Interaction Values Existing</label>
        <locationX>506</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>sov_Interaction.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Asset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateInteraction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInteractionValuesNew</name>
        <label>Assign Interaction Values New</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>sov_Interaction.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Asset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Interaction.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateInteraction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InteractionFound</name>
        <label>Interaction Found?</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>AssignInteractionValuesExisting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Interaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignInteractionValuesNew</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRelatedContactInactive</name>
        <label>Is related Contact inactive?</label>
        <locationX>374</locationX>
        <locationY>864</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RelatedContactIsInactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Interaction.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_Interaction.Contact__r.IsInactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MakeRelatedContactActive</targetReference>
            </connector>
            <label>Related Contact is inactive</label>
        </rules>
    </decisions>
    <formulas>
        <name>form_FullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Interaction Lead (Updated record) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Lead (Updated Record)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateInteraction</name>
        <label>Create Interaction</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>IsRelatedContactInactive</targetReference>
        </connector>
        <inputReference>sov_Interaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetInteraction</name>
        <label>Get Interaction</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InteractionFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Interaction__c</object>
        <outputReference>sov_Interaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Asset__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Method__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>MakeRelatedContactActive</name>
        <label>Make related Contact active</label>
        <locationX>242</locationX>
        <locationY>984</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Interaction.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsInactive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInteraction</name>
        <label>Update Interaction</label>
        <locationX>506</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>IsRelatedContactInactive</targetReference>
        </connector>
        <inputReference>sov_Interaction</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetInteraction</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>sov_Interaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interaction__c</objectType>
    </variables>
</Flow>
